<h2 class="example-h2">Material Input</h2>
<!-- <pre>{{ calculateForm.value | json }}</pre> -->

<div class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Primer numero</mat-label>
    <input
      matInput
      placeholder="0"
      type="number"
      name="number1"
      [(ngModel)]="number1"
    />
  </mat-form-field>

  <mat-form-field color="accent" class="example-full-width">
    <mat-label>Segundo numero</mat-label>
    <input
      matInput
      placeholder="0"
      type="number"
      name="number2"
      [(ngModel)]="number2"
    />
  </mat-form-field>

  <section class="example-section">
    <mat-checkbox
      class="example-margin"
      color="primary"
      name="add"
      [(ngModel)]="add"
      >Sumar</mat-checkbox
    >
    <mat-checkbox
      class="example-margin"
      color="primary"
      name="subtract"
      [(ngModel)]="subtract"
      >Restar</mat-checkbox
    >
    <mat-checkbox
      class="example-margin"
      color="primary"
      name="multiply"
      [(ngModel)]="multiply"
      >Multiplicar</mat-checkbox
    >
    <mat-checkbox
      class="example-margin"
      color="primary"
      name="divider"
      [(ngModel)]="divider"
      >Dividir</mat-checkbox
    >
  </section>

  <section class="button">
    <button mat-raised-button color="primary" (click)="result()">
      Calcular
    </button>
  </section>

  <div class="result">
    <h3><strong>Resultado:</strong></h3>
    <ul>
      <li *ngIf="add">La suma es: {{ resultOperation.add }}</li>
      <li *ngIf="subtract">La resta es: {{ resultOperation.sub }}</li>
      <li *ngIf="multiply">
        La multiplicacion es: {{ resultOperation.multiply }}
      </li>
      <li *ngIf="divider">La división es: {{ resultOperation.divider }}</li>
    </ul>
  </div>
</div>
