.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 1em;
}

.example-full-width {
  width: 100%;
}
.example-section {
  background-color: #4a4a4a;
}
.button {
  margin-top: 1em;
}
.result {
  margin-top: 1em;
}
